/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  font-family:Arial,"STHeiti", Helvetica, sans-serif;
  background:#fff;
  font-size:14px;
  height:100%;
  //max-width:750px;
  //min-width:20pc;
  //line-height:1.5;
  -webkit-tap-highlight-color: transparent;
}
table{
  border-collapse:collapse;
  border-spacing:0
}
fieldset, img{
  border:0
}
legend{
  display:none
}
address, caption, cite, code, dfn, em, strong, th, var{
  font-style:normal;
  font-weight:normal
}
ol, ul{
  list-style:none
}
caption, th{
  text-align:left
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal
}
q:before, q:after{
  content:''
}
abbr, acronym{
  border:0
}
html{-webkit-text-size-adjust:none;width:100%;height:100% } /*????iphone??safari????????????*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"]{
  -webkit-appearance:none;
  border-radius:0;
}

html, body { position: relative;color:#333;width:100vw;height:100vh;}
/************************a按钮****************************/
/**音乐符号**/
.btn-music{width: 70/7.5vw; height: 70/7.5vw; position: fixed; top:4/7.5vw; right: 0/7.5vw;z-index: 800;display:none}
.music{width:100%; height: 100%;}

/*************************������************************/
//����
.page-landscape{
  width:100vw;
  height:100vh;
  background:#333;
  position: relative;
  z-index: 999;
  display: none;
  img{
    width:134/12vw;
    height:218/12vw;
    position: absolute;
    left:550/12vw;
    top:100/12vw;
    -webkit-animation: rotateImg infinite 1.5s ease-in-out;
    animation: rotateImg infinite 1.5s ease-in-out;
  }
  h3{
    font-size: 16px;
    position: absolute;
    color:#fff;
    left:50%;
    top:420/12vw;
    transform: translate(-50%,-50%);
  }
}
@keyframes rotateImg {
  0%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotateImg {
  0%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
//����
.page-portrait{
  width:100vw;
  height:100vh;
  position:absolute;
  left:0;
  top:0;
  overflow: hidden;
  -webkit-overflow:hidden;
background: #929ca1;
//background: url(../img/beginbg.jpg);
//background-size: contain;
}
.load-page{
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  
  .loading{
    width:245/7.5vw;
    height:118/7.5vw;
    position: absolute;
    left:252.5/7.5vw;
    top:496/7.5vw;
  }
  .zhen03{
    width:124/7.5vw;
    height:19/7.5vw;
    position: absolute;
    left:313/7.5vw;
    top:698/7.5vw;
  }
  .zhizhen{
    width:13/7.5vw;
    height:85/7.5vw;
    position: absolute;
    left:368.5/7.5vw;
    top:585/7.5vw;
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  p{
    width:24/7.5vw;
    height:24/7.5vw;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left:363/7.5vw;
    top:658/7.5vw;
  }
  .zhizhenShow{
    animation: zhizhen 0.8s ease-in forwards;
    -webkit-animation: zhizhen 0.8s ease-in forwards;
  }
}
@keyframes zhizhen {
  0%{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }
  100%{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
@-webkit-keyframes zhizhen {
  0%{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

  }
  100%{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
//PC��ʾ
.viewPC{
  background:#333;
  width:100vw;
  height:100vh;
  position: fixed;
  left:0;
  top:0;
  display:none;
  z-index: 1000;
  .ewmBox{
    width:100%;
    position: absolute;
    left:0;
    top:50%;
    transform: translate(0,-50%);
    text-align: center;
    div{
      canvas{
        width:200px;
        height:200px;
        //margin-bottom: 40px;
        padding:10px;
        background:#fff;
      }

    }
    p{
      margin-top: 30px;
      color:#fff;
    }
  }
}

/*************************����************************/

.page-box{
  width:100%;
  height:100%;
  position: relative;
  display:none;
  .global-logo{
    position: absolute;
    left: 40/7.5vw;
    top: 56/7.5vw;
    width: 185/7.5vw;
    height: 46/7.5vw;
  }
}
.page-01,.page-02,.page-03,.page-04,.page-03-03,.page-05,.resultD,.resultJ,.resultT{
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  display: none;
}
.page-01{
  display:block;
  background: url(../img/beginbg.jpg);
  background-size: 100% 100%;
  .go-game{
    width:374/7.5vw;
    height:84/7.5vw;
    text-align: center;
    line-height:60/7.5vw;
    background:url(../img/beginbtn.png);
    background-size: 100% 100%;
    position: absolute;
    left:188/7.5vw;
    bottom: 80/7.5vw;
    animation:btnbegin 2s linear infinite ;
    -webkit-animation:btnbegin 2s linear infinite ;
   
  }
  .pageone-text1{
      width:357/7.5vw;
      height:141/7.5vw;
      position: absolute;
      left:92/7.5vw;
      top:141/7.5vw;
       -webkit-animation: bounceInLeft 0.5s ease-in 0.2s forwards ;
      animation: bounceInLeft 0.5s ease-in 0.2s forwards;
      opacity: 0;
  }
  .pageone-text2{
      width:638/7.5vw;
      height:298/7.5vw;
      position: absolute;
      left:68/7.5vw;
      top:153/7.5vw;
      -webkit-animation: bounceInLeft 0.4s ease-in 0.5s forwards ;
      animation: bounceInLeft 0.4s ease-in 0.5s forwards;
      opacity: 0;
  }
  .pageone-text3{
      width:332/7.5vw;
      height:108/7.5vw;
      position: absolute;
      left:342/7.5vw;
      top: 324/7.5vw;
      -webkit-animation: bounceInLeft 0.3s ease-in 0.8s forwards ;
      animation: bounceInLeft 0.3s ease-in 0.8s forwards;
      opacity: 0;
  }
  @-webkit-keyframes bounceInLeft {
    
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-3px, 0, 0);
        transform: translate3d(-3px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
    
  }
  
  .pageone-yun1{
      width:194/7.5vw;
      height:63/7.5vw;
      position: absolute;
      left:74/7.5vw;
      top:579/7.5vw;
      -webkit-animation:yun 5s linear infinite;
      animation:yun 5s linear infinite; 
  }
  
  .pageone-yun2{
      width:259/7.5vw;
      height:91/7.5vw;
      position: absolute;
      left:444/7.5vw;
      top:510/7.5vw;
      -webkit-animation:yun 8s linear infinite;
      animation:yun 8s linear infinite; 
  }
  @-webkit-keyframes yun{
    0%{
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    50%{
         -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    
  }
  @keyframes yun{
    0%{
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    50%{
         -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    
  }
  .pageone-guang{
      width:68/7.5vw;
      height:313/7.5vw;
      position: absolute;
      left:279/7.5vw;
      top:487/7.5vw;
      -webkit-animation:guangdong 5s linear infinite;
      animation:guangdong 5s linear infinite;
  }
    @-webkit-keyframes guangdong {
        0% {
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
            -webkit-transform: rotate3d(0, 0, 1, -25deg);
            transform: rotate3d(0, 0, 1, -25deg);
            opacity: 0.6
        }
        25%{
            -webkit-transform-origin: bottom;
            transform-origin: bottom;           
            opacity:1
        }
        50%{
            -webkit-transform-origin:right bottom;
            transform-origin:right bottom;
            -webkit-transform: rotate3d(0, 0, 1, 30deg);
            transform: rotate3d(0, 0, 1, 30deg);
            opacity:0.8
        }
        75%{
            -webkit-transform-origin: bottom;
            transform-origin: bottom;           
            opacity:1
        }
        100% {
           -webkit-transform-origin: bottom;
            transform-origin: bottom;
            -webkit-transform: rotate3d(0, 0, 1, -25deg);
            transform: rotate3d(0, 0, 1, -25deg);
            opacity: 0.6
        }
    }
    @keyframes guangdong {
      0% {
          -webkit-transform-origin: bottom;
          transform-origin: bottom;
          -webkit-transform: rotate3d(0, 0, 1, -25deg);
          transform: rotate3d(0, 0, 1, -25deg);
          opacity: 0.6
      }
      25%{
          -webkit-transform-origin: bottom;
          transform-origin: bottom;           
          opacity:1
      }
      50%{
          -webkit-transform-origin:right bottom;
          transform-origin:right bottom;
          -webkit-transform: rotate3d(0, 0, 1, 30deg);
          transform: rotate3d(0, 0, 1, 30deg);
          opacity:0.8
      }
      75%{
          -webkit-transform-origin: bottom;
          transform-origin: bottom;           
          opacity:1
      }
      100% {
         -webkit-transform-origin: bottom;
          transform-origin: bottom;
          -webkit-transform: rotate3d(0, 0, 1, -25deg);
          transform: rotate3d(0, 0, 1, -25deg);
          opacity: 0.6
      }
  }
  
  
  .pageone-shan{
      width:588/7.5vw;
      height:576/7.5vw;
      position: absolute;
      left:81/7.5vw;
      top: 476/7.5vw;
  }
  .pageone-people{
      width:76/7.5vw;
      height:291/7.5vw;
      position: absolute;
      left:337/7.5vw;
      top:732/7.5vw;
  }

}
.page-02{
  background: url(../img/tanchuang02.png);
  background-size: 100% 100%;
  z-index: 810;
  .go-game{
    width:236/7.5vw;
    height:94/7.5vw;
    background:url(../img/kaishi.png);
    background-size: 100% 100%;
    position: absolute;
    left:126/7.5vw;
    top: 1001/7.5vw;
    animation:btnbegin 1s linear infinite ;
    -webkit-animation:btnbegin 1s linear infinite ;
  }
  span{
    width:100/7.5vw;
    height:100/7.5vw;
    position: absolute;
    right:50/7.5vw;
    top:50/7.5vw;
  }
}

.resultD{
  display:none;
  background: url(../img/D/D-bg.jpg);
  background-size: 100% 100%;
  .resultD-onepage{
        width: 100%; height: 100%;
          .D-texttitle{
              width:232/7.5vw;
              height:58/7.5vw;
              position: absolute;
              left:102/7.5vw;
              top: 692/7.5vw;
          }
          .D-star{
              width:750/7.5vw ;
                  height:600/7.5vw;
                  position: absolute;
                  left:0;
                  bottom:10/7.5vw;
                   -webkit-animation: star 4s linear infinite;
                  animation:star 4s linear infinite;
                  opacity:0;
          }
          .D-hudie1{
              width:469/7.5vw;
              height:344/7.5vw;
              position: absolute;
              left:110/7.5vw;
              top:185/7.5vw;
              transform: rotate(14deg);
              -ms-transform:rotate(14deg); /* Internet Explorer */
              -moz-transform:rotate(14deg); /* Firefox */
              -webkit-transform:rotate(14deg); /* Safari 和 Chrome */
              -o-transform:rotate(14deg); /* Opera */
          }
          .D-hudie2{
              width:197/7.5vw;
              height:151/7.5vw;
              position: absolute;
              left:332/7.5vw;
              top:520/7.5vw;
              transform: rotate(-16deg);
              -ms-transform:rotate(-16deg); /* Internet Explorer */
              -moz-transform:rotate(-16deg); /* Firefox */
              -webkit-transform:rotate(-16deg); /* Safari 和 Chrome */
              -o-transform:rotate(-16deg); /* Opera */
          }
          .D-hudie3{
              width:120/7.5vw;
              height:112/7.5vw;
              position: absolute;
              left:157/7.5vw;
              top:522/7.5vw;
              transform: rotate(12deg);
              -ms-transform:rotate(12deg); /* Internet Explorer */
              -moz-transform:rotate(12deg); /* Firefox */
              -webkit-transform:rotate(12deg); /* Safari 和 Chrome */
              -o-transform:rotate(12deg); /* Opera */
          }
          
          .textfirst{
              display: block;
              .D-text1{
                  width:533/7.5vw;
                  height:130/7.5vw;
                  position: absolute;
                  left:88/7.5vw;
                  top:769/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
              }
              .D-text2{
                  width:425/7.5vw;
                  height:164/7.5vw;
                  position: absolute;
                  left:84/7.5vw;
                  top:892/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
              }
          }
          .textsecond{
              display:none;
              .D-text3{
                  width:355/7.5vw;
                  height:71/7.5vw;
                  position: absolute;
                  left:92/7.5vw;
                  top:760/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
              }
              .D-text4{
                  width:355/7.5vw;
                  height:134/7.5vw;
                  position: absolute;
                  left:85.5/7.5vw;
                  top:816/7.5vw;
                   opacity: 0;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
              }
              .openyours{
                  width:286/7.5vw ;
                  height: 78/7.5vw;
                  position: absolute;
                  left:110/7.5vw;
                  top:980/7.5vw;
                  background: url(../img/goover-btn.png);
                  background-size: 100% 100%;
                  animation:openyours 2s linear 2s infinite ;
                  -webkit-animation:openyours 2s linear 2s infinite ;
                  opacity: 0;
              }    
          }
  }
  .resultD-twopage{
      display: none;
              .D-bigtext{
                  width:580/7.5vw ;
                  height:222/7.5vw;
                  position: absolute;
                  left:85/7.5vw;
                  top:222/7.5vw;
              }
              .D-hudie1{
                  width:360/7.5vw;
                  height:230/7.5vw;
                  position: absolute;
                  left:200/7.5vw;
                  top:290/7.5vw;
                  transform: rotate(14deg);
                  -ms-transform:rotate(14deg); /* Internet Explorer */
                  -moz-transform:rotate(14deg); /* Firefox */
                  -webkit-transform:rotate(14deg); /* Safari 和 Chrome */
                  -o-transform:rotate(14deg); /* Opera */
                }
              .D-hudie2{
                  width:150/7.5vw;
                  height:121/7.5vw;
                  position: absolute;
                  left:450/7.5vw;
                  top:528/7.5vw;
                  transform: rotate(-16deg);
                  -ms-transform:rotate(-16deg); /* Internet Explorer */
                  -moz-transform:rotate(-16deg); /* Firefox */
                  -webkit-transform:rotate(-16deg); /* Safari 和 Chrome */
                  -o-transform:rotate(-16deg); /* Opera */
              }
              .D-hudie3{
                  width:100/7.5vw;
                  height:86/7.5vw;
                  position: absolute;
                  left:120/7.5vw;
                  top:450/7.5vw;
                  transform: rotate(12deg);
                  -ms-transform:rotate(12deg); /* Internet Explorer */
                  -moz-transform:rotate(12deg); /* Firefox */
                  -webkit-transform:rotate(12deg); /* Safari 和 Chrome */
                  -o-transform:rotate(12deg); /* Opera */
              }
              .D-star{
                  width:750/7.5vw ;
                  height:600/7.5vw;
                  position: absolute;
                  left:0;
                  bottom:10/7.5vw;
                  -webkit-animation: star 4s linear infinite;
                  animation:star 4s linear infinite;
                  opacity:0;

              }
              .D-result-kuang{
                  width:598/7.5vw;
                  height:350/7.5vw;
                  position: absolute;
                  right:74/7.5vw;
                  top:688/7.5vw;
              }
              .D-kuangtext1{
                  width:288/7.5vw ;
                  height:38/7.5vw;
                  position: absolute;
                  left:231/7.5vw;
                  top:741/7.5vw;
              }
              .D-kuangtext2{
                  width:510/7.5vw ;
                  height:193/7.5vw;
                  position: absolute;
                  left:132/7.5vw;
                  top:794/7.5vw;
              }
              .D-title{
                  width:214/7.5vw ;
                  height:64/7.5vw;
                  position: absolute;
                  right:0;
                  top:48/7.5vw;
              }
  }
  .resultDsave{
      display: none;
  }
}
@-webkit-keyframes star {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

@keyframes star {
    0%,
    100%,
    50% {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}


.resultT{
    display:none;
    background: url(../img/T/T-onebg.jpg);
    background-size: 100% 100%;
    .resultT-onepage{
        width: 100%; height: 100%;
        .T-shitou{
                  width:689/7.5vw;
                  height:587/7.5vw;
                  position: absolute;
                  left:0;
                  top:134/7.5vw;
                  -webkit-animation:superman 6s linear infinite;
                  animation:superman 6s linear infinite; 
                  opacity: 0.6;
                    
        }
          @-webkit-keyframes superman{
            0%{
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                opacity: 0.6;
            }
            25%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            50%{
                 -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 3px, 0);
                 opacity: 1;
            }
            75%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            100% {
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                 opacity: 0.6;
            }
            
          }
          @keyframes superman{
            0%{
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                opacity: 0.6;
            }
            25%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            50%{
                 -webkit-transform: translate3d(0, 1px, 0);
                transform: translate3d(0, 3px, 0);
                 opacity: 1;
            }
            75%{
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
                 opacity: 0.8;
            }
            100% {
                -webkit-transform: translate3d(0, -2px, 0);
                transform: translate3d(0, -2px, 0);
                 opacity: 0.6;
            }
            
          }
        .T-fly{
                  width:646/7.5vw;
                  height:622/7.5vw;
                  position: absolute;
                  left:35/7.5VW;
                  top:290/7.5vw;
                  -webkit-animation:fly 5s linear infinite;
                  animation:fly 5s linear infinite;
        }
            @-webkit-keyframes fly {
                0% {
//                  -webkit-transform-origin:top;
//                  transform-origin: top;
                    -webkit-transform: rotate3d(0, 0, 1, -5deg);
                    transform: rotate3d(0, 0, 1, -5deg);
                    opacity: 1
                }
                25%{
//                  -webkit-transform-origin: top;
//                  transform-origin: top;           
                    opacity:1
                }
                50%{
//                  -webkit-transform-origin: top;
//                  transform-origin:right top;
                    -webkit-transform: rotate3d(0, 0, 1, 3deg);
                    transform: rotate3d(0, 0, 1, 3deg);
                    opacity:1
                }
                75%{
//                  -webkit-transform-origin: top;
//                  transform-origin: top;           
                    opacity:1
                }
                100% {
//                 -webkit-transform-origin:top;
//                  transform-origin: top;
                    -webkit-transform: rotate3d(0, 0, 1, -5deg);
                    transform: rotate3d(0, 0, 1, -5deg);
                    opacity: 1
                }
            }
            @keyframes fly {
              0% {
//                  -webkit-transform-origin:top;
//                  transform-origin: top;
                  -webkit-transform: rotate3d(0, 0, 1, -5deg);
                  transform: rotate3d(0, 0, 1, -5deg);
                  opacity: 1
              }
              25%{
//                  -webkit-transform-origin: top;
//                  transform-origin: top;           
                  opacity:1
              }
              50%{
//                  -webkit-transform-origin: top;
//                  transform-origin:right top;
                  -webkit-transform: rotate3d(0, 0, 1, 3deg);
                  transform: rotate3d(0, 0, 1, 3deg);
                  opacity:1
              }
              75%{
//                  -webkit-transform-origin: top;
//                  transform-origin: top;           
                  opacity:1
              }
              100% {
//                 -webkit-transform-origin:top;
//                  transform-origin: top;
                  -webkit-transform: rotate3d(0, 0, 1, -5deg);
                  transform: rotate3d(0, 0, 1, -5deg);
                  opacity: 1
              }
          }
        .T-people{
                  width:268/7.5vw;
                  height:363/7.5vw;
                  position: absolute;
                  right:-8/7.5vw;
                  bottom:40/7.5vw;
                   -webkit-animation:superman 6s linear infinite;
                    animation:superman 6s linear infinite; 
        }
          
        .T-texttitle{
                  width:336/7.5vw;
                  height:62/7.5vw;
                  position: absolute;
                  left:118/7.5vw;
                  top:688/7.5vw;
        }
        .textfirst{
              display: block;
              .T-text1{
                  width:422/7.5vw;
                  height:140/7.5vw;
                  position: absolute;
                  left:106/7.5vw;
                  top:743/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
              }
              .T-text2{
                  width:535/7.5vw;
                  height:136/7.5vw;
                  position: absolute;
                  left:106/7.5vw;
                  top:871/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
              }
        }
        .textsecond{
              display:none;
              .T-text3{
                  width:217/7.5vw;
                  height:76/7.5vw;
                  position: absolute;
                  left:112/7.5vw;
                  top:757/7.5vw;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
                  opacity: 0;
              }
              .T-text4{
                  width:523/7.5vw;
                  height:111/7.5vw;
                  position: absolute;
                  left:115.5/7.5vw;
                  top:830/7.5vw;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
                  opacity: 0;
              }
              .openyours{
                  width:286/7.5vw ;
                  height: 78/7.5vw;
                  position: absolute;
                  left:118/7.5vw;
                  top:960/7.5vw;
                  background: url(../img/goover-btn.png);
                  background-size: 100% 100%;
                  animation:openyours 2s linear 2s infinite ;
                  -webkit-animation:openyours 2s linear 2s infinite ;
                  opacity: 0;
              }               
  
          }
        
        
    }
    .resultT-twopage{
      display: none;
              .T-shitou2{
                  width:750/7.5vw;
                  height:640/7.5vw;
                  position: absolute;
                  left:0;
                  top:480/7.5vw;
                  -webkit-animation:superman 8s linear infinite;
                  animation:superman 8s linear infinite; 
                  opacity: 0.6;
              }
              .T-bigtext{
                  width:585/7.5vw;
                  height:220/7.5vw;
                  position: absolute;
                  left:82.5/7.5vw;
                  top:222/7.5vw;
              }
              .T-fly2{
                  width:619/7.5vw;
                  height:473/7.5vw;
                  position: absolute;
                  left:106/7.5vW;
                  top:344/7.5vw;
                  -webkit-animation:fly 6s linear infinite;
                  animation:fly 6s linear infinite;
              }
              .T-people2{
                  width:165/7.5vw;
                  height:232/7.5vw;
                  position: absolute;
                  right:10/7.5vW;
                  top:540/7.5vw;
                  -webkit-animation:superman 8s linear infinite;
                  animation:superman 8s linear infinite;
              }
              .T-name{
                  width:246/7.5vw;
                  height:63/7.5vw;
                  position: absolute;
                  right:0;
                  top:48/7.5vw;
              }
              .T-result-kuang{
                  width:598/7.5vw;
                  height:350/7.5vw;
                  position: absolute;
                  right:74/7.5vw;
                  top:698/7.5vw;
              }
              .T-kuangtext1{
                  width:288/7.5vw;
                  height:39/7.5vw;
                  position: absolute;
                  left:238/7.5vw;
                  top:751/7.5vw;
              }
              .T-kuangtext2{
                  width:499/7.5vw;
                  height:189/7.5vw;
                  position: absolute;
                  left:142/7.5vw;
                  top:804/7.5vw;
              }
    }
    .resultTsave{
      display: none;
    }
    
    
    
}


.resultJ{
    display:none;
    background: url(../img/J/J-bg.jpg);
    background-size: 100% 100%;
    .resultJ-onepage{
        width: 100%; height: 100%;
        .J-shuimu1{
                  width:104/7.5vw;
                  height:210/7.5vw;
                  position: absolute;
                  left:562/7.5vw;
                  top:700/7.5vw;
        }
        .J-shuimu2{
                  width:127/7.5vw;
                  height:213/7.5vw;
                  position: absolute;
                  left:472/7.5vw;
                  top:146/7.5vw;
        }
        .J-water{
                  width:750/7.5vw;
                  height:1089/7.5vw;
                  position: absolute;
                  left:0;
                  top:100/7.5vw;
                  -webkit-animation:superman 6s linear infinite;
                    animation:superman 6s linear infinite; 
        }
        .J-j{
                  width:691/7.5vw;
                  height:351/7.5vw;
                  position: absolute;
                  left:68/7.5vw;
                  top:299/7.5vw;
        }
        .J-texttitle{
                  width:323/7.5vw;
                  height:58/7.5vw;
                  position: absolute;
                  left:118/7.5vw;
                  top:650/7.5vw;
        }
        .textfirst{
              display: block;
              .J-text1{
                  width:414/7.5vw;
                  height:206/7.5vw;
                  position: absolute;
                  left:92.5/7.5vw;
                  top:728/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
              }
              .J-text2{
                  width:484/7.5vw;
                  height:133/7.5vw;
                  position: absolute;
                  left:102/7.5vw;
                  top:916/7.5vw;
                  opacity: 0;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
              }
        }
        .textsecond{
              display:none;
              .J-text3{
                  width:364/7.5vw;
                  height:79/7.5vw;
                  position: absolute;
                  left:99/7.5vw;
                  top:720/7.5vw;
                  -webkit-animation: textshow 0.5s linear forwards;
                  animation: textshow 0.5s linear forwards;
                  opacity: 0;
              }
              .J-text4{
                  width:487/7.5vw;
                  height:105/7.5vw;
                  position: absolute;
                  left:102/7.5vw;
                  top:783/7.5vw;
                  -webkit-animation: textshow 0.5s linear 1s forwards;
                  animation: textshow 0.5s linear 1s forwards;
                  opacity: 0;
              }
              .openyours{
                  width:286/7.5vw ;
                  height: 78/7.5vw;
                  position: absolute;
                  left:118/7.5vw;
                  top:960/7.5vw;
                  background: url(../img/goover-btn.png);
                  background-size: 100% 100%;
                  animation:openyours 2s linear 2s infinite ;
                  -webkit-animation:openyours 2s linear 2s infinite ;
                  opacity: 0;
              }
          }   
    }
    .resultJ-twopage{
      display: none;
              .J-water{
                  width:750/7.5vw ;
                  height:1089/7.5vw;
                  position: absolute;
                  left:0;
                  top:0;
                  -webkit-animation:superman 8s linear infinite;
                    animation:superman 8s linear infinite; 
              }
              .J-shuimu1{
                   width:104/7.5vw;
                  height:210/7.5vw;
                  position: absolute;
                 left:220/7.5vw;
                  top:1006/7.5vw;
              }
              .J-shuimu2{
                  width:127/7.5vw;
                  height:213/7.5vw;
                  position: absolute;
                   left:226/7.5vw;
                  top:142/7.5vw;
                  
              }
              .J-result-kuang{
                  width:598/7.5vw;
                  height:350/7.5vw;
                  position: absolute;
                  right:74/7.5vw;
                  top:688/7.5vw;
              }
              .J-kuangtext1{
                  width:288/7.5vw;
                  height:38/7.5vw;
                  position: absolute;
                  right:230/7.5vw;
                  top:741/7.5vw;
              }
              .J-kuangtext2{
                  width:506/7.5vw;
                  height:190/7.5vw;
                  position: absolute;
                  right:106/7.5vw;
                  top:796/7.5vw;
              }
              .J-bigtext{
                  width:583/7.5vw;
                  height:225/7.5vw;
                  position: absolute;
                  right:74/7.5vw;
                  top:264/7.5vw;
              }
              .J-j{
                  width:510/7.5vw;
                  height:225/7.5vw;
                  position: absolute;
                  left:150/7.5vw;
                  top:420/7.5vw;
              }
              .J-name{
                  width:256/7.5vw;
                  height:65/7.5vw;
                  position: absolute;
                  right:0;
                  top:48/7.5vw;
              }
    }
    .resultJsave{
      display: none;
    }
  
}
              @-webkit-keyframes textshow {
                    0% {
                        opacity: 0;
                        -webkit-transform: translate3d(0, 100%, 0);
                        transform: translate3d(0, 100%, 0)
                    }
                    100% {
                        opacity: 1;
                       
                    }
              }
              @keyframes textshow {
                0% {
                    opacity: 0;
                    -webkit-transform: translate3d(0, 100%, 0);
                    transform: translate3d(0, 100%, 0)
                }
                100% {
                    opacity: 1;
                   
                }
              }
              @keyframes openyours{
                  0% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    opacity:1;
                  }
                  50% {
                    -webkit-transform: scale3d(1.05, 1.05, 1.05);
                    transform: scale3d(1.05, 1.05, 1.05);
                    opacity:0.5;
                  }
                  100% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    opacity: 1;
                  }
                
                }
                @-webkit-keyframes openyours{
                    0% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    opacity: 1;
                  }
                  50% {
                    -webkit-transform: scale3d(1.05, 1.05, 1.05);
                    transform: scale3d(1.05, 1.05, 1.05);
                    opacity: 0.5;
                  }
                  100% {
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    opacity: 1;
                  }
                }
                @-webkit-keyframes superman{
                    0%{
                        -webkit-transform: translate3d(0, -8px, 0);
                        transform: translate3d(0, -8px, 0)
                    }
                    25%{
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0)
                    }
                    50%{
                         -webkit-transform: translate3d(0, 8px, 0);
                        transform: translate3d(0, 8px, 0)
                    }
                    75%{
                        -webkit-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0)
                    }
                    100% {
                        -webkit-transform: translate3d(0, -8px, 0);
                        transform: translate3d(0, -8px, 0)
                    }
                    
                }

.videodiv{
    z-index:11;width: 100%; height: 100%; position: absolute; top:0;left:0;background: rgba(0,0,0,0.6);display: none;
    .video{
         width: 750/7.5vw; height: 421/7.5vw; position: absolute;top:500/7.5vw;background: #ffffff;
    }
    .videoclose{
        width: 55/7.5vw; height:55/7.5vw; position: absolute;top:400/7.5vw;right: 20/7.5vw;
    }
}




.page-03{
  box-sizing: border-box;
  background: url(../img/answerboxbg.jpg);
  background-size: contain;
  .question-box{
    width:662/7.5vw;
    height: 536/7.5vw;
    position: absolute;
    left: 44/7.5vw;
    top: 495/7.5vw;
    background: url(../img/answerBG.png);
    background-size: 100% 100%;
    .title{
      width:606/7.5vw;
      height:128/7.5vw;
      text-align: center;
      position: absolute;
      left: 30/7.5vw;
      top: 58/7.5vw;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .btn-box{
    width:100%;
    position: absolute;
    left: 0;
    top: 268/7.5vw;
  }
  .answer-a, .answer-b{
    width:100%;
    height:95/7.5vw;
    position: absolute;
    left:0/7.5vw;
    text-align: center;
    .chosed-bg,.btn-bg{
      display:none;
      position: absolute;
      left:38/7.5vw;
      top:0/7.5vw;
      width:591/7.5vw;
      height:95/7.5vw;
    }
    .btn-bg{
      display:block;
    }
    .answer-inner{
      width:604/7.5vw;
      height: 62/7.5vw;
      box-sizing: border-box;
      position: absolute;
      left:34/7.5vw;
      top:14/7.5vw;      
      z-index: 88;
    }
    &.yes{
      .chosed-bg{
        display: block;
      }
      .btn-bg{
        display: none;
      }
    }
    &.no{
      .chosed-bg{
        display: none;
      }
      .btn-bg{
        display: block;
      }
    }
  }
  .answer-a{
    top:0/7.5vw;
  }
  .answer-b{
    top:130/7.5vw;
  }
  .answerpage-text1{
    width: 647/7.5vw;
    height: 81/7.5vw;
    position: absolute;
    left: 51/7.5vw;
    top: 296/7.5vw;
  }
  .answerpage-text2{
    width: 399/7.5vw;
    height: 73/7.5vw;
    position: absolute;
    left: 175/7.5vw;
    top: 210/7.5vw;
  }
  .answerpage-textk{
    width: 750/7.5vw;
    height: 300/7.5vw;
    position: absolute;
    left: 0;
    top: 138/7.5vw;
  }
  .question-superman{
    width: 155/7.5vw;
    height: 174/7.5vw;
    position: absolute;
    right: -22.5/7.5vw;
    top: 590/7.5vw;
    -webkit-animation:superman 6s linear infinite;
      animation:superman 6s linear infinite; 
  }
  @-webkit-keyframes superman{
    0%{
        -webkit-transform: translate3d(0, -8px, 0);
        transform: translate3d(0, -8px, 0)
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    50%{
         -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0)
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, -8px, 0);
        transform: translate3d(0, -8px, 0)
    }
    
  }
  
  .question-ball{
    width: 362/7.5vw;
    height: 170/7.5vw;
    position: absolute;
    left: -25/7.5vw;
    top: 988/7.5vw;
    -webkit-animation:ball 5s linear infinite;
    animation:ball 5s linear infinite; 
  }
  @-webkit-keyframes ball{
    0%{
        -webkit-transform: translate3d(-5px,0, 0);
        transform: translate3d(-5px,0, 0)
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    50%{
         -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    
  }
  @keyframes ball{
    0%{
        -webkit-transform: translate3d(-5px,0, 0);
        transform: translate3d(-5px,0, 0)
    }
    25%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    50%{
         -webkit-transform: translate3d(8px, 0, 0);
        transform: translate3d(8px, 0, 0)
    }
    75%{
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    
  }
 
}
.page-03-02{
  z-index: 811;
  background: rgba(0,0,0,0.5);
  width: 100% ;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  display: none;
  img{
    width:200/7.5vw;
    height:200/7.5vw;
    position: absolute;
    left:275/7.5vw;
    top:500/7.5vw;
    //transform: translate(-50%,-50%);
    //-webkit-backface-visibility: visible!important;
    //-ms-backface-visibility: visible!important;
    //backface-visibility: visible!important;
    //-webkit-animation: flipInX 1s   forwards;
    //animation: flipInX 1s   forwards;
    -webkit-animation: bounceIn 0.6s  ease forwards;
    animation: bounceIn 0.6s  ease forwards;
  }
}

.page-03-03{
  background:rgba(0,0,0,0.8);
  z-index: 888;
  .jisuan{
    width:150/7.5vw;
    height:150/7.5vw;
    position: absolute;
    left:300/7.5vw;
    top:488/7.5vw;
  }
  p{
    width:100%;
    text-align: center;
    position: absolute;
    left:0;
    top:630/7.5vw;
    color:#fff;
  }
}

.page-04{
  // display: block;
  .score{
    width: 750/7.5vw;
    height:1040/7.5vw;
    position: absolute;
    left:0;
    top:0;
  }
  .playAgain{
    position: absolute;
    left:21/7.5vw;
    top:1068/7.5vw;
    width:319/7.5vw;
    height:102/7.5vw;
    background:url(../img/result-again.png);
    background-size: contain;
  }
  .toShare{
    position: absolute;
    right:21/7.5vw;
    top:1068/7.5vw;
    width:319/7.5vw;
    height:102/7.5vw;
    background:url(../img/result-share.png);
    background-size: contain;
  }
  .shareBg{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    z-index: 899;
    display:none;
  }
  .otherResult{
    width: 294/7.5vw;
    height: 83/7.5vw;
    position: absolute;
    left: 60/7.5vw;
    top:1084/7.5vw;
  }
  .goResult{
    width: 294/7.5vw;
    height: 83/7.5vw;
    position: absolute;
    right: 60/7.5vw;
    top: 1084/7.5vw;
  }
  .allResult-box{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    .allResult-inner{
      width: 630/7.5vw;;
      height: 630/7.5vw;
      position: absolute;
      left: 60/7.5vw;
      top: 330/7.5vw;
      background:url(../img/picall-bg.png);
      background-size: contain;
      .videobtn{
        width: 463/7.5vw;
        height: 83/7.5vw;
        position: absolute;
        left: 85/7.5vw;
        bottom: -7.5/7.5vw;
      }
      .allResult-close{
        width: 55/7.5vw;
        height: 55/7.5vw;
        position: absolute;
        right: 20/7.5vw;
        top: 0;
      }
    }
    .swiper-container{
      width: 420/7.5vw;
      height: 351/7.5vw;
      position: relative;
      left: 0;
      top: 140/7.5vw;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 255/7.5vw;
        height: 351/7.5vw;
        img{
          width: 100%;
          height: 100%;
        }
        .go-result-detail{
          width: 130/7.5vw;
          height: 30/7.5vw;
          position: absolute;
          left: 62/7.5vw;
          top: 316/7.5vw;
          // background: #000;
        }
      }
      
    }
    .swiper-button-left{
      background:url(../img/left.png);
      background-size: contain;
      width: 51/7.5vw;
      height: 51/7.5vw;
      position: absolute;
      left:50/7.5vw;
      top: 300/7.5vw;
    }
    .swiper-button-right{
      background:url(../img/right.png);
      background-size: contain;
      width: 51/7.5vw;
      height: 51/7.5vw;
      position: absolute;
      right:50/7.5vw;
      top: 300/7.5vw;
    }
  }
}
.page-05{
  background: #000;
  img{
    width: 100%;
    height: auto;
  }
}

//����********************************
.page-03-an01{
  .title{
    opacity: 0;
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation: flipInX 1.1s   forwards;
    animation: flipInX 1.1s   forwards;
  }
  .btn-box .answer-a .answer-inner,.btn-box .answer-b .answer-inner{
    opacity: 0;
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation: flipInX 1.1s   forwards;
    animation: flipInX 1.1s   forwards;
  }
}
.page-03-an02{
  .title{
    opacity: 0;
    -webkit-animation: zoomIn 0.3s  ease-out forwards;
    animation: zoomIn 0.3s  ease-out forwards;
  }

  .btn-box .answer-a .answer-inner,.btn-box .answer-b .answer-inner {
    opacity: 0;
    -webkit-animation: zoomIn 0.3s  ease-out forwards;
    animation: zoomIn 0.3s  ease-out forwards;
  }
}
.page-03-an03{
  .title{
    opacity: 0;
    -webkit-animation: lightSpeedIn 0.5s  ease forwards;
    animation: lightSpeedIn 0.5s  ease forwards;
  }

  .btn-box .answer-a .answer-inner,.btn-box .answer-b .answer-inner {
    opacity: 0;
    -webkit-animation: lightSpeedIn 0.5s  ease forwards;
    animation: lightSpeedIn 0.5s  ease forwards;
  }
}
.page-03-an04{
  .title{
    //-webkit-transform-origin: center bottom;
    //transform-origin: center bottom;
    opacity: 0;
    -webkit-animation: bounceInDown 1s -0.4s ease forwards;
    animation: bounceInDown 1s -0.4s ease forwards;
  }

  .btn-box .answer-a .answer-inner,.btn-box .answer-b .answer-inner {
    //-webkit/-transform-origin: center bottom;
    //transform-origin: center bottom;
    opacity: 0;
    -webkit-animation: bounceInDown 1s -0.4s ease forwards;
    animation: bounceInDown 1s -0.4s ease forwards;
  }
}
.page-03-an05{
  .title{
    //-webkit-transform-origin: center bottom;
    //transform-origin: center bottom;
    opacity: 0;
    -webkit-animation: bounceIn 0.8s  ease forwards;
    animation: bounceIn 0.8s  ease forwards;
  }

  .btn-box .answer-a .answer-inner,.btn-box .answer-b .answer-inner {
    //-webkit/-transform-origin: center bottom;
    //transform-origin: center bottom;
    opacity: 0;
    -webkit-animation: bounceIn 0.8s  ease forwards;
    animation: bounceIn 0.8s  ease forwards;
  }
}


@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
    transform: perspective(400px) rotate3d(1,0,0,90deg)
  }

  0%,40% {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
    transform: perspective(400px) rotate3d(1,0,0,-20deg)
  }

  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
    transform: perspective(400px) rotate3d(1,0,0,10deg)
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
    transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }

  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px)
  }
}

@keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    -ms-transform: perspective(400px) rotate3d(1,0,0,90deg)
  }

  0%,40% {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
    transform: perspective(400px) rotate3d(1,0,0,-20deg);
    -ms-transform: perspective(400px) rotate3d(1,0,0,-20deg)
  }

  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
    transform: perspective(400px) rotate3d(1,0,0,10deg);
    -ms-transform: perspective(400px) rotate3d(1,0,0,10deg)
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
    transform: perspective(400px) rotate3d(1,0,0,-5deg);
    -ms-transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }

  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -ms-transform: perspective(400px)
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.5,.5,.5);
    transform: scale3d(.5,.5,.5)
  }

  50% {
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.5,.5,.5);
    transform: scale3d(.5,.5,.5);
    -ms-transform: scale3d(.5,.5,.5)
  }

  50% {
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%,0,0) skewX(-30deg);
    transform: translate3d(30%,0,0) skewX(-30deg)
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg)
  }

  60%,80% {
    opacity: 1
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%,0,0) skewX(-30deg);
    transform: translate3d(30%,0,0) skewX(-30deg);
    -ms-transform: translate3d(30%,0,0) skewX(-30deg)
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    -ms-transform: skewX(20deg)
  }

  60%,80% {
    opacity: 1
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    -ms-transform: skewX(-5deg)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none
  }
}
@-webkit-keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
    transition-timing-function: cubic-bezier(0.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0)
  }
  40%{
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0);
    -ms-transform: translate3d(0,5px,0)
  }

  75% {
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
    -ms-transform: translate3d(0,-3px,0)
  }

  90% {
    -webkit-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
    -ms-transform: translate3d(0,1px,0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none
  }
}

@keyframes bounceInDown {
  0%,60%,75%,90%,to {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
    transition-timing-function: cubic-bezier(0.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0)
  }
  40%{
    opacity: 0;
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0,5px,0);
    transform: translate3d(0,5px,0);
    -ms-transform: translate3d(0,5px,0)
  }

  75% {
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
    -ms-transform: translate3d(0,-3px,0)
  }

  90% {
    -webkit-transform: translate3d(0,1px,0);
    transform: translate3d(0,1px,0);
    -ms-transform: translate3d(0,1px,0)
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none
  }
}
@keyframes bounceIn {
  0%,20%,40%,60%,80%,to {
    -webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
    transition-timing-function: cubic-bezier(0.215,.61,.355,1)
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4,.4,.4);
    transform: scale3d(.4,.4,.4);
    -ms-transform: scale3d(.4,.4,.4)
  }

  20% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
    -ms-transform: scale3d(1.05,1.05,1.05)
  }

  40% {
    -webkit-transform: scale3d(.95,.95,.95);
    transform: scale3d(.95,.95,.95);
    -ms-transform: scale3d(.95,.95,.95)
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03,1.03,1.03);
    transform: scale3d(1.03,1.03,1.03);
    -ms-transform: scale3d(1.03,1.03,1.03)
  }

  80% {
    -webkit-transform: scale3d(.97,.97,.97);
    transform: scale3d(.97,.97,.97);
    -ms-transform: scale3d(.97,.97,.97)
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1)
  }
}

@keyframes btnbegin{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

}
@-webkit-keyframes btnbegin{
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
