/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  position: relative;
  color: #333;
  width: 100vw;
  height: 100vh;
}
/************************a按钮****************************/
/**音乐符号**/
.btn-music {
  width: 9.33333333vw;
  height: 9.33333333vw;
  position: fixed;
  top: 0.53333333vw;
  right: 0vw;
  z-index: 800;
  display: none;
}
.music {
  width: 100%;
  height: 100%;
}
/*************************������************************/
.page-landscape {
  width: 100vw;
  height: 100vh;
  background: #333;
  position: relative;
  z-index: 999;
  display: none;
}
.page-landscape img {
  width: 11.16666667vw;
  height: 18.16666667vw;
  position: absolute;
  left: 45.83333333vw;
  top: 8.33333333vw;
  -webkit-animation: rotateImg infinite 1.5s ease-in-out;
  animation: rotateImg infinite 1.5s ease-in-out;
}
.page-landscape h3 {
  font-size: 16px;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 35vw;
  transform: translate(-50%, -50%);
}
@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(90deg);
  }
  65% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.page-portrait {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-overflow: hidden;
  background: #fff;
}
.load-page {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.load-page .loading {
  width: 32.66666667vw;
  height: 15.73333333vw;
  position: absolute;
  left: 33.66666667vw;
  top: 66.13333333vw;
}
.load-page .zhen03 {
  width: 16.53333333vw;
  height: 2.53333333vw;
  position: absolute;
  left: 41.73333333vw;
  top: 93.06666667vw;
}
.load-page .zhizhen {
  width: 1.73333333vw;
  height: 11.33333333vw;
  position: absolute;
  left: 49.13333333vw;
  top: 78vw;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.load-page p {
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 48.4vw;
  top: 87.73333333vw;
}
.load-page .zhizhenShow {
  animation: zhizhen 0.8s ease-in forwards;
  -webkit-animation: zhizhen 0.8s ease-in forwards;
}
@keyframes zhizhen {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
@-webkit-keyframes zhizhen {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.viewPC {
  background: #333;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
}
.viewPC .ewmBox {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
.viewPC .ewmBox div canvas {
  width: 200px;
  height: 200px;
  padding: 10px;
  background: #fff;
}
.viewPC .ewmBox p {
  margin-top: 30px;
  color: #fff;
}
/*************************����************************/
.page-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.page-box .global-logo {
  position: absolute;
  left: 5.33333333vw;
  top: 7.46666667vw;
  width: 24.66666667vw;
  height: 6.13333333vw;
}
.page-01,
.page-02,
.page-03,
.page-04,
.page-03-03,
.page-05,
.resultD,
.resultJ,
.resultT {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.page-01 {
  display: block;
  background: url(../img/beginbg.jpg);
  background-size: 100% 100%;
}
.page-01 .go-game {
  width: 49.86666667vw;
  height: 11.2vw;
  text-align: center;
  line-height: 8vw;
  background: url(../img/beginbtn.png);
  background-size: 100% 100%;
  position: absolute;
  left: 25.06666667vw;
  bottom: 10.66666667vw;
  animation: btnbegin 1s linear infinite ;
}
.page-01 .pageone-text1 {
  width: 47.6vw;
  height: 18.8vw;
  position: absolute;
  left: 12.26666667vw;
  top: 18.8vw;
}
.page-01 .pageone-text2 {
  width: 85.06666667vw;
  height: 39.73333333vw;
  position: absolute;
  left: 9.06666667vw;
  top: 20.4vw;
}
.page-01 .pageone-text3 {
  width: 44.26666667vw;
  height: 14.4vw;
  position: absolute;
  left: 45.6vw;
  top: 43.2vw;
}
.page-01 .pageone-yun1 {
  width: 25.86666667vw;
  height: 8.4vw;
  position: absolute;
  left: 9.86666667vw;
  top: 77.2vw;
}
.page-01 .pageone-yun2 {
  width: 34.53333333vw;
  height: 12.13333333vw;
  position: absolute;
  left: 59.2vw;
  top: 68vw;
}
.page-01 .pageone-guang {
  width: 9.06666667vw;
  height: 41.73333333vw;
  position: absolute;
  left: 37.2vw;
  top: 64.93333333vw;
}
.page-01 .pageone-shan {
  width: 78.4vw;
  height: 76.8vw;
  position: absolute;
  left: 10.8vw;
  top: 63.46666667vw;
}
.page-01 .pageone-people {
  width: 10.13333333vw;
  height: 38.8vw;
  position: absolute;
  left: 44.93333333vw;
  top: 97.6vw;
}
.page-02 {
  background: url(../img/tanchuang02.png);
  background-size: 100% 100%;
  z-index: 810;
}
.page-02 .go-game {
  width: 31.46666667vw;
  height: 12.53333333vw;
  background: url(../img/kaishi.png);
  background-size: 100% 100%;
  position: absolute;
  left: 16.8vw;
  top: 133.46666667vw;
  animation: btnbegin 1s linear infinite ;
  -webkit-animation: btnbegin 1s linear infinite ;
}
.page-02 span {
  width: 13.33333333vw;
  height: 13.33333333vw;
  position: absolute;
  right: 6.66666667vw;
  top: 6.66666667vw;
}
.resultD {
  display: none;
  background: url(../img/D/D-bg.jpg);
  background-size: 100% 100%;
}
.resultD .resultD-onepage {
  width: 100%;
  height: 100%;
}
.resultD .resultD-onepage .D-texttitle {
  width: 30.93333333vw;
  height: 7.73333333vw;
  position: absolute;
  left: 13.6vw;
  top: 92.26666667vw;
}
.resultD .resultD-onepage .D-hudie1 {
  width: 62.53333333vw;
  height: 45.86666667vw;
  position: absolute;
  left: 14.66666667vw;
  top: 24.66666667vw;
  transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  /* Internet Explorer */
  -moz-transform: rotate(14deg);
  /* Firefox */
  -webkit-transform: rotate(14deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(14deg);
  /* Opera */
}
.resultD .resultD-onepage .D-hudie2 {
  width: 26.26666667vw;
  height: 20.13333333vw;
  position: absolute;
  left: 44.26666667vw;
  top: 69.33333333vw;
  transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  /* Internet Explorer */
  -moz-transform: rotate(-16deg);
  /* Firefox */
  -webkit-transform: rotate(-16deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-16deg);
  /* Opera */
}
.resultD .resultD-onepage .D-hudie3 {
  width: 16vw;
  height: 14.93333333vw;
  position: absolute;
  left: 20.93333333vw;
  top: 69.6vw;
  transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  /* Internet Explorer */
  -moz-transform: rotate(12deg);
  /* Firefox */
  -webkit-transform: rotate(12deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(12deg);
  /* Opera */
}
.resultD .resultD-onepage .textfirst {
  display: block;
}
.resultD .resultD-onepage .textfirst .D-text1 {
  width: 71.06666667vw;
  height: 17.33333333vw;
  position: absolute;
  left: 13.06666667vw;
  top: 102.26666667vw;
}
.resultD .resultD-onepage .textfirst .D-text2 {
  width: 56.66666667vw;
  height: 21.86666667vw;
  position: absolute;
  left: 13.06666667vw;
  top: 118.4vw;
}
.resultD .resultD-onepage .textsecond {
  display: none;
}
.resultD .resultD-onepage .textsecond .D-text3 {
  width: 47.33333333vw;
  height: 9.46666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultD .resultD-onepage .textsecond .D-text4 {
  width: 47.33333333vw;
  height: 17.86666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultD .resultD-twopage {
  display: none;
}
.resultD .resultDsave {
  display: none;
}
.resultT {
  display: none;
  background: url(../img/T/T-onebg.jpg);
  background-size: 100% 100%;
}
.resultT .resultT-onepage {
  width: 100%;
  height: 100%;
}
.resultT .resultT-onepage .T-shitou {
  width: 91.86666667vw;
  height: 78.26666667vw;
  position: absolute;
  left: 0;
  top: 17.86666667vw;
}
.resultT .resultT-onepage .T-fly {
  width: 86.13333333vw;
  height: 82.93333333vw;
  position: absolute;
  left: 4.66666667VW;
  top: 38.66666667vw;
}
.resultT .resultT-onepage .T-people {
  width: 35.73333333vw;
  height: 48.4vw;
  position: absolute;
  right: -1.06666667vw;
  bottom: 5.33333333vw;
}
.resultT .resultT-onepage .T-texttitle {
  width: 44.8vw;
  height: 8.26666667vw;
  position: absolute;
  left: 15.73333333vw;
  top: 91.73333333vw;
}
.resultT .resultT-onepage .textfirst {
  display: block;
}
.resultT .resultT-onepage .textfirst .T-text1 {
  width: 56.26666667vw;
  height: 18.66666667vw;
  position: absolute;
  left: 14.13333333vw;
  top: 99.06666667vw;
}
.resultT .resultT-onepage .textfirst .T-text2 {
  width: 71.33333333vw;
  height: 18.13333333vw;
  position: absolute;
  left: 14.13333333vw;
  top: 116.13333333vw;
}
.resultT .resultT-onepage .textsecond {
  display: none;
}
.resultT .resultT-onepage .textsecond .T-text3 {
  width: 47.33333333vw;
  height: 9.46666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultT .resultT-onepage .textsecond .T-text4 {
  width: 47.33333333vw;
  height: 17.86666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultT .resultT-twopage {
  display: none;
}
.resultT .resultTsave {
  display: none;
}
.resultJ {
  display: none;
  background: url(../img/J/J-bg.jpg);
  background-size: 100% 100%;
}
.resultJ .resultJ-onepage {
  width: 100%;
  height: 100%;
}
.resultJ .resultJ-onepage .J-shuimu1 {
  width: 13.86666667vw;
  height: 28vw;
  position: absolute;
  left: 74.93333333vw;
  top: 93.33333333vw;
}
.resultJ .resultJ-onepage .J-shuimu2 {
  width: 16.93333333vw;
  height: 28.4vw;
  position: absolute;
  left: 62.93333333vw;
  top: 19.46666667vw;
}
.resultJ .resultJ-onepage .J-water {
  width: 100vw;
  height: 145.2vw;
  position: absolute;
  left: 0;
  top: 13.33333333vw;
}
.resultJ .resultJ-onepage .J-j {
  width: 92.13333333vw;
  height: 46.8vw;
  position: absolute;
  left: 9.06666667vw;
  top: 39.86666667vw;
}
.resultJ .resultJ-onepage .J-texttitle {
  width: 43.06666667vw;
  height: 7.73333333vw;
  position: absolute;
  left: 15.73333333vw;
  top: 91.73333333vw;
}
.resultJ .resultJ-onepage .textfirst {
  display: block;
}
.resultJ .resultJ-onepage .textfirst .J-text1 {
  width: 55.2vw;
  height: 27.46666667vw;
  position: absolute;
  left: 12.33333333vw;
  top: 99.06666667vw;
}
.resultJ .resultJ-onepage .textfirst .J-text2 {
  width: 64.53333333vw;
  height: 17.73333333vw;
  position: absolute;
  left: 13.6vw;
  top: 125.6vw;
}
.resultJ .resultJ-onepage .textsecond {
  display: none;
}
.resultJ .resultJ-onepage .textsecond .J-text3 {
  width: 47.33333333vw;
  height: 9.46666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultJ .resultJ-onepage .textsecond .J-text4 {
  width: 47.33333333vw;
  height: 17.86666667vw;
  position: absolute;
  left: 21.86666667vw;
  top: 69.6vw;
}
.resultJ .resultJ-twopage {
  display: none;
}
.resultJ .resultJsave {
  display: none;
}
.page-03 {
  box-sizing: border-box;
  background: url(../img/answerboxbg.jpg);
  background-size: contain;
}
.page-03 .question-box {
  width: 88.26666667vw;
  height: 71.46666667vw;
  position: absolute;
  left: 5.86666667vw;
  top: 66vw;
  background: url(../img/answerBG.png);
  background-size: 100% 100%;
}
.page-03 .question-box .title {
  width: 80.8vw;
  height: 17.06666667vw;
  text-align: center;
  position: absolute;
  left: 4vw;
  top: 7.73333333vw;
}
.page-03 .question-box .title img {
  width: 100%;
  height: 100%;
}
.page-03 .btn-box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 35.73333333vw;
}
.page-03 .answer-a,
.page-03 .answer-b {
  width: 100%;
  height: 12.66666667vw;
  position: absolute;
  left: 0vw;
  text-align: center;
}
.page-03 .answer-a .chosed-bg,
.page-03 .answer-b .chosed-bg,
.page-03 .answer-a .btn-bg,
.page-03 .answer-b .btn-bg {
  display: none;
  position: absolute;
  left: 5.06666667vw;
  top: 0vw;
  width: 78.8vw;
  height: 12.66666667vw;
}
.page-03 .answer-a .btn-bg,
.page-03 .answer-b .btn-bg {
  display: block;
}
.page-03 .answer-a .answer-inner,
.page-03 .answer-b .answer-inner {
  width: 80.53333333vw;
  height: 8.26666667vw;
  box-sizing: border-box;
  position: absolute;
  left: 4.53333333vw;
  top: 1.86666667vw;
  z-index: 88;
}
.page-03 .answer-a.yes .chosed-bg,
.page-03 .answer-b.yes .chosed-bg {
  display: block;
}
.page-03 .answer-a.yes .btn-bg,
.page-03 .answer-b.yes .btn-bg {
  display: none;
}
.page-03 .answer-a.no .chosed-bg,
.page-03 .answer-b.no .chosed-bg {
  display: none;
}
.page-03 .answer-a.no .btn-bg,
.page-03 .answer-b.no .btn-bg {
  display: block;
}
.page-03 .answer-a {
  top: 0vw;
}
.page-03 .answer-b {
  top: 17.33333333vw;
}
.page-03 .answerpage-text1 {
  width: 86.26666667vw;
  height: 10.8vw;
  position: absolute;
  left: 6.8vw;
  top: 39.46666667vw;
}
.page-03 .answerpage-text2 {
  width: 53.2vw;
  height: 9.73333333vw;
  position: absolute;
  left: 23.33333333vw;
  top: 28vw;
}
.page-03 .answerpage-textk {
  width: 100vw;
  height: 40vw;
  position: absolute;
  left: 0;
  top: 18.4vw;
}
.page-03 .question-superman {
  width: 20.66666667vw;
  height: 23.2vw;
  position: absolute;
  right: -3vw;
  top: 78.66666667vw;
}
.page-03 .question-ball {
  width: 48.26666667vw;
  height: 22.66666667vw;
  position: absolute;
  left: -3.33333333vw;
  top: 131.73333333vw;
}
.page-03-02 {
  z-index: 811;
  background: rgba(0, 0, 0, 0.5);
  width: 100% ;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.page-03-02 img {
  width: 26.66666667vw;
  height: 26.66666667vw;
  position: absolute;
  left: 36.66666667vw;
  top: 66.66666667vw;
  -webkit-animation: bounceIn 0.6s  ease forwards;
  animation: bounceIn 0.6s  ease forwards;
}
.page-03-03 {
  background: rgba(0, 0, 0, 0.8);
  z-index: 888;
}
.page-03-03 .jisuan {
  width: 20vw;
  height: 20vw;
  position: absolute;
  left: 40vw;
  top: 65.06666667vw;
}
.page-03-03 p {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 84vw;
  color: #fff;
}
.page-04 .score {
  width: 100vw;
  height: 138.66666667vw;
  position: absolute;
  left: 0;
  top: 0;
}
.page-04 .playAgain {
  position: absolute;
  left: 2.8vw;
  top: 142.4vw;
  width: 42.53333333vw;
  height: 13.6vw;
  background: url(../img/result-again.png);
  background-size: contain;
}
.page-04 .toShare {
  position: absolute;
  right: 2.8vw;
  top: 142.4vw;
  width: 42.53333333vw;
  height: 13.6vw;
  background: url(../img/result-share.png);
  background-size: contain;
}
.page-04 .shareBg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 899;
  display: none;
}
.page-04 .otherResult {
  width: 39.2vw;
  height: 11.06666667vw;
  position: absolute;
  left: 8vw;
  bottom: 13.33333333vw;
}
.page-04 .goResult {
  width: 39.2vw;
  height: 11.06666667vw;
  position: absolute;
  right: 8vw;
  bottom: 13.33333333vw;
}
.page-04 .allResult-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.page-04 .allResult-box .allResult-inner {
  width: 84vw;
  height: 84vw;
  position: absolute;
  left: 8vw;
  top: 44vw;
  background: url(../img/picall-bg.png);
  background-size: contain;
}
.page-04 .allResult-box .allResult-inner .videobtn {
  width: 61.73333333vw;
  height: 11.06666667vw;
  position: absolute;
  left: 11.33333333vw;
  bottom: -2vw;
}
.page-04 .allResult-box .allResult-inner .allResult-close {
  width: 7.33333333vw;
  height: 7.33333333vw;
  position: absolute;
  right: 2.66666667vw;
  top: 0;
}
.page-04 .allResult-box .swiper-container {
  width: 56vw;
  height: 46.8vw;
  position: relative;
  left: 0;
  top: 18.66666667vw;
}
.page-04 .allResult-box .swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 34vw;
  height: 46.8vw;
}
.page-04 .allResult-box .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.page-04 .allResult-box .swiper-container .swiper-slide .go-result-detail {
  width: 17.33333333vw;
  height: 4vw;
  position: absolute;
  left: 8.26666667vw;
  top: 42.13333333vw;
}
.page-04 .allResult-box .swiper-button-left {
  background: url(../img/left.png);
  background-size: contain;
  width: 6.8vw;
  height: 6.8vw;
  position: absolute;
  left: 6.66666667vw;
  top: 40vw;
}
.page-04 .allResult-box .swiper-button-right {
  background: url(../img/right.png);
  background-size: contain;
  width: 6.8vw;
  height: 6.8vw;
  position: absolute;
  right: 6.66666667vw;
  top: 40vw;
}
.page-03-an01 .title {
  opacity: 0;
  -webkit-backface-visibility: visible!important;
  -ms-backface-visibility: visible!important;
  backface-visibility: visible!important;
  -webkit-animation: flipInX 1.1s   forwards;
  animation: flipInX 1.1s   forwards;
}
.page-03-an01 .btn-box .answer-a .answer-inner,
.page-03-an01 .btn-box .answer-b .answer-inner {
  opacity: 0;
  -webkit-backface-visibility: visible!important;
  -ms-backface-visibility: visible!important;
  backface-visibility: visible!important;
  -webkit-animation: flipInX 1.1s   forwards;
  animation: flipInX 1.1s   forwards;
}
.page-03-an02 .title {
  opacity: 0;
  -webkit-animation: zoomIn 0.3s ease-out forwards;
  animation: zoomIn 0.3s ease-out forwards;
}
.page-03-an02 .btn-box .answer-a .answer-inner,
.page-03-an02 .btn-box .answer-b .answer-inner {
  opacity: 0;
  -webkit-animation: zoomIn 0.3s ease-out forwards;
  animation: zoomIn 0.3s ease-out forwards;
}
.page-03-an03 .title {
  opacity: 0;
  -webkit-animation: lightSpeedIn 0.5s  ease forwards;
  animation: lightSpeedIn 0.5s  ease forwards;
}
.page-03-an03 .btn-box .answer-a .answer-inner,
.page-03-an03 .btn-box .answer-b .answer-inner {
  opacity: 0;
  -webkit-animation: lightSpeedIn 0.5s  ease forwards;
  animation: lightSpeedIn 0.5s  ease forwards;
}
.page-03-an04 .title {
  opacity: 0;
  -webkit-animation: bounceInDown 1s -0.4s ease forwards;
  animation: bounceInDown 1s -0.4s ease forwards;
}
.page-03-an04 .btn-box .answer-a .answer-inner,
.page-03-an04 .btn-box .answer-b .answer-inner {
  opacity: 0;
  -webkit-animation: bounceInDown 1s -0.4s ease forwards;
  animation: bounceInDown 1s -0.4s ease forwards;
}
.page-03-an05 .title {
  opacity: 0;
  -webkit-animation: bounceIn 0.8s  ease forwards;
  animation: bounceIn 0.8s  ease forwards;
}
.page-03-an05 .btn-box .answer-a .answer-inner,
.page-03-an05 .btn-box .answer-b .answer-inner {
  opacity: 0;
  -webkit-animation: bounceIn 0.8s  ease forwards;
  animation: bounceIn 0.8s  ease forwards;
}
@-webkit-keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  0%,
  40% {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
  0%,
  40% {
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -ms-transform: perspective(400px);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    -ms-transform: scale3d(0.5, 0.5, 0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightSpeedIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0) skewX(-30deg);
    transform: translate3d(30%, 0, 0) skewX(-30deg);
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
  }
  60%,
  80% {
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0) skewX(-30deg);
    transform: translate3d(30%, 0, 0) skewX(-30deg);
    -ms-transform: translate3d(30%, 0, 0) skewX(-30deg);
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    -ms-transform: skewX(20deg);
  }
  60%,
  80% {
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
  }
}
@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    -ms-transform: translate3d(0, 1px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
  }
}
@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 1px, 0);
    transform: translate3d(0, 1px, 0);
    -ms-transform: translate3d(0, 1px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -ms-transform: none;
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
    -ms-transform: scale3d(0.4, 0.4, 0.4);
  }
  20% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
  }
  40% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
  }
}
@keyframes btnbegin {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes btnbegin {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
